<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <!-- <link rel="stylesheet" href="./employee.css"> -->
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/layout.css" />
    <!-- font-awesome link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - EmployeeManagement</title>
    @using Microsoft.AspNetCore.Identity
    @using EmployeeManagement.Areas.Identity.Data
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
</head>
<body>
    <!-- employeelist-wrapper -->
    <div class="wrapper">

        <!-- employeelist-slidebar -->
        <div id="sbar" class="sidebar">
            <!-- employeelist-sidebar-company-logo-section -->
            <div class="sidebar-company-logo-section">
                <img src="~/images/logo.png" alt="company logo">
                <button class="sidebar-close-btn"><i class="fas fa-times"></i></button>
            </div>
            <!-- employeelist-sidebar-company-logo-section -->
            <div class="sidenav-container">
                <div class="sidenav-header">
                    <i class="fas fa-users"></i>
                    User
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="sidenav-subheader">
                    <a asp-controller="ApplicationUser" asp-action="Index" >UserList</a>
                    <!-- <a href="#">User Profile</a>
            <a href="#">User Account</a>
            <a href="#">User Status</a>
            <a href="#">User Request</a>
            <a href="#">User Detail</a> -->
                </div>
                <div class="sidenav-header">
                    <i class="fas fa-users"></i>
                    Employee
                    <i class="fa fa-caret-down"></i>
                </div>
                <div class="sidenav-subheader">
                    <a asp-controller="Employee" asp-action="Index" >Employeelist</a>
                    <!-- <a href="#">Employee Profile</a>
            <a href="#">Employee Account</a>
            <a href="#">Employee Status</a>
            <a href="#">Employee Request</a>
            <a href="#">Employee Detail</a>
            <a href="#">Employee Statement</a> -->

                </div>
                <div class="sidenav-header-tag">
                    <a asp-controller="ApplicationUser" asp-action="LeaveRequest"> Leave Request</a>

                </div>
                <div class="sidenav-header-tag">
                    <a asp-controller="Holiday" asp-action="Index">Holiday</a>
                </div>
            </div>

        </div>
        <!-- employeelist-wrapper end here -->
        <!-- employeelist-main-container -->
        <div class="main-container ">
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="main-container-header-section">
                    <div class="main-container-sidebar-section">
                        <button class="main-container-sidebar-btn sidebarOpen"><i class="fas fa-bars"></i></button>
                    </div>
                    <div class="main-container-image-section" @*style="display: flex;"*@>
                        <h1>@UserManager.GetUserAsync(User).Result.UserName </h1>
                        <img src="~/images/profile.jpg" alt="userimage">
                    </div>
                </div>

                <!-- logout section start -->
                <div class="main-container-logout-section">
                    <!-- employeelist-user-profile-img -->
                    <div class="main-container-user-profile-img">
                        <img src="~/images/profile.jpg" alt="userimage">
                        <button class="main-container-logout-section-close-btn"><i class="fas fa-times"></i></button>
                    </div>
                    <!-- employeelist-user-profile-img -->
                    <h3>@UserManager.GetUserAsync(User).Result.UserName </h3>
                    <h3 class="main-container-user-email">@UserManager.GetUserAsync(User).Result.Email</h3>
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <button class="main-container-logout-btn"> Sign Out</button>
                    </a>
                    <!-- employeelist-logout-footer-section -->
                    <div class="main-container-logout-footer-section">
                        <h3>Privacy Policy</h3>
                    </div>
                    <!-- employeelist-logout-footer-section -->
                </div>
                <!-- logout section end -->
            }
            @RenderBody()
        </div>
    </div>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@*<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $(".sidebar-close-btn").click(function () {
                /*$('#sbar').hide();*/
            //        $('#sbar').css({ display: "none" });
                $('#sbar').classlist.toggle(".hide");
                $('#sbar').classlist.toggle(".showsidebar");
            });
        });
    });
</script>*@