@model EmployeeManagement.Models.EmployeeViewModel;
@{
    Layout = null;
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col"> FirstName</th>
            <th scope="col"> MiddleName</th>
            <th scope="col"> LastName</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Designation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmployeeList)
        {
        <tr>
            <td>@item.Employee_Id</td>
            <td>@item.FirstName</td>
            <td>@item.MiddleName</td>
            <td>@item.LastName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.Designation_Name</td>
        </tr>
        }
    </tbody>
</table>
