@model EmployeeManagement.Models.EmployeeViewModel
@{
    ViewData["Title"] = "Index";
    var data = ViewBag.Gender;

}
<!-- employeelist-title-section -->
<div class="employeelist-title-section">
    <h1>Employee List</h1>
</div>
<!-- employeelist-title-section -->
<div class="employeelist-search-create-section">
    <!-- employeelist-create-section -->
    <div class="employeelist-create-section">
        <button class="employeelist-create-section-btn" id="btnAdd">+ Create Employee</button>
    </div>
    <!-- employeelist-create-section -->
    <!-- employeelist-search-section -->
    <div class="employeelist-search-section">
        <form action="" class="employeelist-search-section-form" method="post">
            <input id="txtVal" type="text" placeholder="Username" class="employeelist-search-box">
            <button type="submit" class="employeelist-search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- employeelist-search-section -->
</div>
<!-- employeelist-list-section -->
<div class="employeelist-list-section">
    <!-- employeelist-list-header-section -->
    <div class="employeelist-list-header-section">
        <div class="employeelist-name">Name</div>
        <div class="employeelist-username">Username</div>
        <div class="employeelist-email">Email</div>
        <div class="employeelist-designation">Designation</div>
        <div class="employeelist-edit-delete">Edit/Delete</div>
    </div>
    <!-- employeelist-list-header-section -->
    <!-- employeelist-firstrowlist-section -->
    @foreach (var employee in Model.EmployeeList)
    {
        <div class="employeelist-firstrowlist-section">
            <div class="employeelist-name-value">@employee.FirstName  @employee.MiddleName  @employee.LastName</div>
            <div class="employeelist-username-value">@employee.UserName</div>
            <div class="employeelist-email-value">@employee.Email</div>
            <div class="employeelist-designation-value">@employee.Designation_Name</div>
            <div class="employeelist-edit-delete-value" style="padding: 0 0;">
                <button class="edit-btn btnUpdate " id=@employee.Employee_Id><i class="far fa-edit"></i> </button>
                <button class="delete-btn btnDelete" id=@employee.Employee_Id><i class="fas fa-trash"></i></button>
            </div>
        </div>
    }

    <!-- employeelist-firstrowlist-section -->
    <!-- employeelist-secondrowlist-section -->
</div>
<!-- employeelist-list-section -->
<!-- employeelist-page-change-section -->
<div class="employeelist-page-change-section">
    <!-- employeelist-previous-page-section -->
    <div class="employeelist-previous-page-section">
        @*<button class="employeelist-previous-btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            <p>Previous Page</p>*@
    </div>
    <!-- employeelist-previous-page-section -->
    <!-- employeelist-current-page-section -->
    <div class="employeelist-current-page-section">
        1
    </div>
    <!-- employeelist-current-page-section -->
    <!-- employeelist-next-page-section -->
    <div class="employeelist-next-page-section">
        <p>Next Page</p>
        <button class="employeelist-next-btn"><i class="fas fa-chevron-right"></i></button>
    </div>
    <!-- employeelist-next-page-section -->
</div>
<!-- employeelist-page-change-section -->
<!-- employeelist-main-container -->
<!-- employeelist-wrapper -->
<!-- The Modal -->
<!-- The Modal -->
<div id="myModal" class="employeelist-modal">
    <!-- adduser section start here -->
    <!-- add-user section end here -->
</div>

<!-- userlist-toast -->
<div class="employeelist-toast">
    <div class="employeelist-conform-icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <div class="employeelist-toast-success-mssg">
        <p>Employee</p>
        <p>Create Successfully</p>
    </div>
    <button class="employeelist-toast-close-btn ">
        &times;
    </button>
</div>
<!-- userlist-toast -->
<!-- javascript link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/employee.js"></script>
<link rel="stylesheet" href="~/css/site.css">
@*<script src="~/js/user.js"></script>*@
<script type="text/javascript">
    $(function () {
        $("#btnAdd").click(function () {
            $.ajax({
                type: "get",
                url: "/employee/CreateOrEdit",
                success: function (response) {
                    $('#myModal').html(response);
                    $('#myModal').css({ display: "block" });
                }
            });
        });
        $(".btnDelete").click(function () {
            var r = confirm("Are you sure you want to delete!");
            if (r == true) {
                $.ajax({
                    type: "get",
                    url: "/employee/delete",
                    data: { id: this.id },
                    success: function (response) {
                        window.location.reload(true)
                    }
                });
            } else {
                console.log("cancel")
            }
        });

        $(".btnUpdate").click(function () {
            debugger
            $.ajax({
                type: "GET",
                url: "/Employee/CreateOrEdit",
                data: { id: this.id },
                success: function (response) {
                    $('#myModal').html(response);
                    $('#myModal').css({ display: "block" });
                },
                failure: function (response) {

                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
        $(document).ready(function () {
            $("#txtVal").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myModal tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    });
</script>
