@model EmployeeManagement.Models.AttendanceViewModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/layout.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>Leaveist</title>
    @using Microsoft.AspNetCore.Identity
    @using EmployeeManagement.Areas.Identity.Data
    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
</head>
@{
    string role = HttpContextAccessor.HttpContext.Session.GetString("Role");
}
<div class="main-container-title-section">
    <h1>Attendance List</h1>
</div>
<div id="Attendanceist"></div>
<div class="employeelist-list-section">
    <div class="employeelist-list-header-section">
        <div class="sn">S.N.</div>
        <div class="employeelist-name">Employee Name</div>
        <div class="employeelist-designation">Date</div>
        <div class="employeelist-username">Turn_in</div>
        <div class="employeelist-email">Turn_out</div>
    </div>
    @{int i = 1; }
    @foreach (var attendance in Model.AttendanceList)
    {
        if (attendance.Attendance_Id != 1)
        {
            <div class="employeelist-rowlist-section">
                <div class="employeelist-sn-value">@(i++)</div>
                <div class="employeelist-name-value">@attendance.EmployeeName</div>
                <div class="employeelist-designation-value">@attendance.Date</div>
                <div class="employeelist-username-value">@attendance.Turn_in</div>
                <div class="employeelist-email-value">@attendance.Turn_out</div>
            </div>
        }
    }
</div>
<div class="employeelist-page-change-section">
    <div class="employeelist-previous-page-section">
        <button class="employeelist-previous-btn">
            <i class="fas fa-chevron-left"></i>
        </button>
    </div>
    <div class="employeelist-current-page-section">
        1
    </div>
    <div class="employeelist-next-page-section">
        <button class="employeelist-next-btn"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>
<div class="employeelist-toast">
    <div class="employeelist-conform-icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <div class="employeelist-toast-success-mssg">
        <p>Employee</p>
        <p>Create Successfully</p>
    </div>
    <button class="employeelist-toast-close-btn ">
        &times;
    </button>
</div>
<link rel="stylesheet" href="~/css/site.css">

