@model EmployeeManagement.Areas.Identity.Data.ApplicationUserViewModel
@{
    var data1 = ViewBag.Gender;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css link -->
    <!-- <link rel="stylesheet" href="./employee.css"> -->
    <link rel="stylesheet" href="./css/site.css">
    <link rel="stylesheet" href="./css/layout.css">
    <!-- font-awesome link -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <title>UserList</title>
</head>
<!-- userlist-title-section start here -->
<div class="main-container-title-section">
    <h1>User List</h1>
</div>
<!-- userlist-title-section end here -->
<div class="main-container-search-create-section">
    <!-- userlist-create-section start here -->
    <div class="main-container-create-section">
        <button class="main-container-create-section-btn" id="btnAdd">+ Create User</button>
    </div>
    <!-- userlist-create-section end here -->
    <!-- userlist-search-section start here -->
    <div class="main-container-search-section">
        <form method="get" asp-controller="ApplicationUser" asp-action="Index" class="main-container-search-section-form">
            <input id="txtVal" type="text" placeholder="Username" name="searchText" class="main-container-search-box">
            <input id="txt" type="hidden" asp-for="Id" />
            <button id="btnSearch" type="submit" class="main-container-search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- userlist-search-section end here -->
</div>
<div id="UsersList"></div>

<!-- userlist-list-section start here -->
<div class="userlist-list-section">
    <!-- userlist-list-header-section start here -->
    <div class="userlist-list-header-section">
        <div class="sn">S.N.</div>
        <div class="name">Name</div>
        <div class="userlist-username">Username</div>
        <div class="userlist-email">Email</div>
        <div class="userlist-designation">Designation</div>
        <div class="userlist-edit-delete">Delete</div>
    </div>
    <!-- userlist-list-header-section end here -->
    <!-- userlist-firstrowlist-section start here -->

    @{int i = 1;
    }
    @foreach (var user in Model.UsersList)
    {
        if (user.Employee_Id != 1)
        {
            <div class="userlist-rowlist-section">
                <div class="userlist-sn-value">@(i++)</div>
                <div class="userlist-name-value">@user.FullName</div>
                <div class="userlist-username-value">@user.UserName</div>
                <div class="userlist-email-value">@user.Email</div>
                <div class="userlist-designation-value">@user.Designation</div>
                <div class="userlist-edit-delete-value" style="padding: 0 0;">
                    <button class="delete-btn btnDelete" id="@user.Id"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        }
    }
</div>
<!-- userlist-list-section start here -->
<!-- userlist-page-change-section start here -->
<div class="userlist-page-change-section">
    <!-- userlist-previous-page-section start here -->
    <div class="userlist-previous-page-section">
        <button class="userlist-previous-btn">
                <i class="fas fa-chevron-left"></i>
            </button>
    </div>
    <!-- userlist-previous-page-section end here -->
    <!-- userlist-current-page-section start here -->
    <div class="userlist-current-page-section">
        1
    </div>
    <!-- userlist-current-page-section end here -->
    <!-- userlist-next-page-section start here -->
    <div class="userlist-next-page-section">
        <button class="userlist-next-btn"><i class="fas fa-chevron-right"></i></button>
    </div>
    <!-- userlist-next-page-section end here -->
</div>
<!-- userlist-page-change-section end here -->
<!-- userlist-main-container end here  -->
<!-- userlist-wrapper start -->
<!-- The Modal -->
<div id="myModal" class="modal">


</div>

<!-- userlist-toast -->
<div class="userlist-toast">
    <div class="userlist-conform-icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <div class="toast-success-mssg">
        <p>User</p>
        <p>Create Successfully</p>
    </div>
    <button class="toast-close-btn ">
        &times;
    </button>
</div>
<!-- userlist-toast -->
<!-- javascript link -->
<!--link for autocomplete-->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
<!--link search-->
<script type="text/javascript">
    $(function () {
        $("#btnAdd").click(function () {
            $.ajax({
                type: "get",
                url: "/ApplicationUser/CreateOrEdit",
                success: function (response) {
                    $('#myModal').html(response);
                    $('#myModal').css({ display: "block" });
                }
            });
        });

        $(".btnDelete").click(function () {
            var r = confirm("are you sure you want to delete!");
            if (r == true) {
                $.ajax({
                    type: "get",
                    url: "/ApplicationUser/delete",
                    data: { id: this.id },
                    success: function (response) {
                        window.location.reload(true)
                    }
                });
            }
            else {
                console.log("cancel")
            }
        });

        $("#txtVal").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/ApplicationUser/AutoComplete/',
                    data: { "prefix": request.term },
                    type: "POST",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#txt").val(i.item.val);
            },
            minLength: 1
        });
        
    });
</script>
