@model EmployeeManagement.Areas.Identity.Data.ApplicationUserViewModel
@{
    var data1 = ViewBag.Gender;
}
<!-- userlist-title-section start here -->
<div class="userlist-title-section">
    <h1>User List</h1>
</div>
<!-- userlist-title-section end here -->
<div class="userlist-search-create-section">
    <!-- userlist-create-section start here -->
    <div class="userlist-create-section">
        <button class="userlist-create-section-btn" id="btnAdd">+ Create User</button>
    </div>
    <!-- userlist-create-section end here -->
    <!-- userlist-search-section start here -->
    <div class="userlist-search-section">
        <form action="" class="userlist-search-section-form">
            <input type="text" placeholder="Username" class="userlist-search-box">
            <button type="submit" class="userlist-search-btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- userlist-search-section end here -->
</div>
<!-- userlist-list-section start here -->
<div class="userlist-list-section">
    <!-- userlist-list-header-section start here -->
    <div class="userlist-list-header-section">
        <div class="name">Name</div>
        <div class="userlist-username">Username</div>
        <div class="userlist-email">Email</div>
        <div class="userlist-designation">Designation</div>
        <div class="userlist-edit-delete">Edit/Delete</div>
    </div>
    <!-- userlist-list-header-section end here -->
    <!-- userlist-firstrowlist-section start here -->
    @foreach (var user in Model.UsersList)
    {
        if (user.UserName != "admin")
        {
            <div class="userlist-firstrowlist-section">
                <div class="userlist-name-value">@user.FullName</div>
                <div class="userlist-username-value">@user.UserName</div>
                <div class="userlist-email-value">@user.Email</div>
                <div class="userlist-designation-value">@user.Designation</div>
                <div class="userlist-edit-delete-value" style="padding: 0 0;">
                    <button class="edit-btn btnUpdate" id="@user.Id"><i class="far fa-edit"></i></button>
                    <button class="delete-btn btnDelete" id="@user.Id"><i class="fas fa-trash"></i></button>
                </div>
            </div>
        }
    }
</div>
<!-- userlist-list-section start here -->
<!-- userlist-page-change-section start here -->
<div class="userlist-page-change-section">
    <!-- userlist-previous-page-section start here -->
    <div class="userlist-previous-page-section">
        @*<button class="userlist-previous-btn">
                <i class="fas fa-chevron-left"></i>
            </button>
            <p>Previous Page</p>*@
    </div>
    <!-- userlist-previous-page-section end here -->
    <!-- userlist-current-page-section start here -->
    <div class="userlist-current-page-section">
        1
    </div>
    <!-- userlist-current-page-section end here -->
    <!-- userlist-next-page-section start here -->
    <div class="userlist-next-page-section">
        <p>Next Page</p>
        <button class="userlist-next-btn"><i class="fas fa-chevron-right"></i></button>
    </div>
    <!-- userlist-next-page-section end here -->
</div>
<!-- userlist-page-change-section end here -->
<!-- userlist-main-container end here  -->
<!-- userlist-wrapper start -->
<!-- The Modal -->
<div id="myModal" class="modal">


</div>

<!-- userlist-toast -->
<div class="userlist-toast">
    <div class="userlist-conform-icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <div class="toast-success-mssg">
        <p>User</p>
        <p>Create Successfully</p>
    </div>
    <button class="toast-close-btn ">
        &times;
    </button>
</div>
<!-- userlist-toast -->
<!-- javascript link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="~/js/employee.js"></script>
<script src="~/js/user.js"></script>
<link rel="stylesheet" href="~/css/site.css">
<script type="text/javascript">
    $(function () {
        $("#btnAdd").click(function () {
            debugger
            $.ajax({
                type: "get",
                url: "/ApplicationUser/CreateOrEdit",
                success: function (response) {
                    debugger
                    $('#myModal').html(response);
                    $('#myModal').css({ display: "block" });
                },
                failure: function (response) {

                    alert(response.responseText);
                },
            });
        });
        $(".btnDelete").click(function () {
            var r = confirm("are you sure you want to delete!");
            debugger
            if (r == true) {
                $.ajax({
                    type: "get",
                    url: "/ApplicationUser/delete",
                    data: { id: this.id },
                    success: function (response) {
                        window.location.reload(true)
                    }
                });
            } else {
                console.log("cancel")
            }
        });
        $(".btnUpdate").click(function () {
            debugger
            $.ajax({
                type: "GET",
                url: "/ApplicationUser/CreateOrEdit",
                data: { id: this.id },
                success: function (response) {
                    $('#myModal').html(response);
                    $('#myModal').css({ display: "block" });
                },
                failure: function (response) {

                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
